<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>normalState</key>
	<dict>
		<key>imageView</key>
		<dict>
			<key>x</key>
			<integer>30</integer>
			<key>y</key>
			<integer>100</integer>
			<key>width</key>
			<integer>270</integer>
			<key>height</key>
			<integer>90</integer>
			<key>shift</key>
			<integer>10</integer>
			<key>createHeight</key>
			<integer>290</integer>
		</dict>
		<key>summary</key>
		<dict>
			<key>x</key>
			<integer>5</integer>
			<key>y</key>
			<integer>15</integer>
			<key>width</key>
			<integer>260</integer>
			<key>height</key>
			<integer>30</integer>
		</dict>
		<key>detail</key>
		<dict>
			<key>x</key>
			<integer>5</integer>
			<key>y</key>
			<integer>45</integer>
			<key>width</key>
			<integer>260</integer>
			<key>height</key>
			<integer>20</integer>
		</dict>
		<key>createTime</key>
		<dict>
			<key>x</key>
			<integer>5</integer>
			<key>y</key>
			<integer>70</integer>
			<key>width</key>
			<integer>130</integer>
			<key>height</key>
			<integer>10</integer>
		</dict>
		<key>remindTime</key>
		<dict>
			<key>x</key>
			<integer>135</integer>
			<key>y</key>
			<integer>70</integer>
			<key>width</key>
			<integer>130</integer>
			<key>height</key>
			<integer>10</integer>
		</dict>
		<key>deleteBtn</key>
		<dict>
			<key>x</key>
			<integer>120</integer>
			<key>y</key>
			<integer>-8</integer>
			<key>width</key>
			<integer>21</integer>
			<key>height</key>
			<integer>42</integer>
		</dict>
		<key>memoBtn</key>
		<dict>
			<key>x</key>
			<integer>30</integer>
			<key>y</key>
			<integer>10</integer>
			<key>width</key>
			<integer>270</integer>
			<key>height</key>
			<integer>90</integer>
		</dict>
	</dict>
	<key>editState</key>
	<dict>
		<key>summaryText</key>
		<dict>
			<key>x</key>
			<integer>10</integer>
			<key>y</key>
			<integer>55</integer>
			<key>width</key>
			<integer>250</integer>
			<key>height</key>
			<integer>20</integer>
		</dict>
		<key>detailText</key>
		<dict>
			<key>x</key>
			<integer>10</integer>
			<key>y</key>
			<integer>85</integer>
			<key>width</key>
			<integer>250</integer>
			<key>height</key>
			<integer>150</integer>
		</dict>
		<key>pigeon</key>
		<dict>
			<key>x</key>
			<integer>200</integer>
			<key>y</key>
			<integer>15</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>30</integer>
		</dict>
		<key>clock</key>
		<dict>
			<key>x</key>
			<integer>160</integer>
			<key>y</key>
			<integer>15</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>30</integer>
		</dict>
		<key>completeBtn</key>
		<dict>
			<key>x</key>
			<integer>100</integer>
			<key>y</key>
			<integer>-8</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>30</integer>
		</dict>
	</dict>
	<key>trash</key>
	<dict>
		<key>x</key>
		<integer>10</integer>
		<key>y</key>
		<integer>568</integer>
		<key>width</key>
		<integer>300</integer>
		<key>height</key>
		<integer>150</integer>
		<key>move1</key>
		<integer>500</integer>
		<key>move2</key>
		<integer>700</integer>
	</dict>
	<key>moveToTrash</key>
	<dict>
		<key>x</key>
		<integer>100</integer>
		<key>y</key>
		<integer>600</integer>
		<key>width</key>
		<integer>30</integer>
		<key>height</key>
		<integer>30</integer>
	</dict>
	<key>themeCreateView</key>
	<dict>
		<key>x</key>
		<integer>50</integer>
		<key>y</key>
		<integer>175</integer>
		<key>width</key>
		<integer>225</integer>
		<key>height</key>
		<integer>170</integer>
	</dict>
	<key>themeBtn</key>
	<dict>
		<key>x</key>
		<integer>3</integer>
		<key>y</key>
		<integer>60</integer>
		<key>width</key>
		<integer>50</integer>
		<key>height</key>
		<integer>50</integer>
		<key>shift</key>
		<integer>10</integer>
	</dict>
	<key>themeCreateBtn</key>
	<dict>
		<key>x</key>
		<integer>20</integer>
		<key>y</key>
		<integer>400</integer>
		<key>width</key>
		<integer>25</integer>
		<key>height</key>
		<integer>25</integer>
	</dict>
	<key>themeDeleteBtn</key>
	<dict>
		<key>x</key>
		<integer>5</integer>
		<key>y</key>
		<integer>0</integer>
		<key>width</key>
		<integer>10</integer>
		<key>height</key>
		<integer>10</integer>
	</dict>
	<key>timePicker</key>
	<dict>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>580</integer>
		<key>width</key>
		<integer>320</integer>
		<key>height</key>
		<integer>150</integer>
		<key>shift</key>
		<integer>200</integer>
	</dict>
	<key>completeAlert</key>
	<dict>
		<key>summaryDuplicate</key>
		<string>亲！标题长一样了哦~</string>
		<key>summaryTooShort</key>
		<string>亲！标题不填人家会桑心的~</string>
		<key>shortestSummary</key>
		<integer>0</integer>
		<key>summaryTooLong</key>
		<string>亲！标题太长会爆炸哒~</string>
		<key>longestSummary</key>
		<integer>14</integer>
		<key>detailTooLong</key>
		<string>亲！内容太长就要报警了~</string>
		<key>longestDetail</key>
		<integer>200</integer>
		<key>message</key>
		<string>&gt;_&lt;</string>
		<key>cancel</key>
		<string>呵呵~</string>
	</dict>
	<key>createThemeAlert</key>
	<dict>
		<key>themeTooMany</key>
		<string>亲！我只容得下六个主题~</string>
		<key>themeLimit</key>
		<integer>6</integer>
		<key>themeTooLong</key>
		<string>雅蠛蝶，你好暴力，填两个字就行啦~</string>
		<key>longestTheme</key>
		<integer>0</integer>
		<key>themeTooShort</key>
		<string>矮油，主题填点东西啦~</string>
		<key>shortestTheme</key>
		<integer>2</integer>
		<key>themeDuplicate</key>
		<string>亲！主题重复了哦~</string>
		<key>message</key>
		<string>&gt;_&lt;</string>
		<key>cancel</key>
		<string>好哒~</string>
	</dict>
	<key>backgroundSize</key>
	<dict>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>0</integer>
		<key>width</key>
		<integer>320</integer>
		<key>height</key>
		<integer>568</integer>
	</dict>
	<key>deleteMemo</key>
	<dict>
		<key>isDelete</key>
		<string>亲爱哒&gt;_&lt;</string>
		<key>message</key>
		<string>你要丢掉我嘛 555~</string>
		<key>cancel</key>
		<string>怎么可能吶</string>
		<key>other</key>
		<string>滚粗~</string>
	</dict>
</dict>
</plist>
